.git
.github

node_modules
vendor

.env
.env.backup
.env.production

installed.lock
upgrading.lock
*.zip

.phpunit.result.cache
.phpunit.cache

.claude
.idea
.vscode

docker-compose.yml
docker-compose.override.yml
Homestead.json
Homestead.yaml

public/hot
public/storage
public/i

Dockerfile
.dockerignore
